@keyframes photo-profil {
    0% {
    	transform: scale(0);
    }
    100% {
        transform: scale(1);
	}
}
@keyframes contenu-translate {
    0% {
        transform: translateY(300px);
    }
    15% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}
